
/* ========= RESPONSIVE FOR MOBILE DEVICES ============*/

@media screen and (max-width: 576px) {

    :root {
        --maintitle: 5rem;
        --secondtitle: 2.1rem;
        --thirdtitle: 2rem;
        --fourthtitle: 1rem;
        --bodytext: 1rem;
        --margintop: 80px;
    }


    /* NAV BAR RESPONSIVE */

    .nav-container {
        max-width: 100vmin;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 30px 20PX;
        box-shadow: none;
    }
    
    .menu-area {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    
    .nav-menu {
        flex-direction: column;
        gap: 20px;
    }

    /* HERO SECTION RESPONSIVE */
    
    .hero-section-container {
        background-image: none;
    }

    .hero-section {
        max-width: 100vmin;
        flex-direction: column;
        justify-content: center;
        gap: 70px;
        padding: 0;
    }
    
    .hero-left {
        gap: 10px;
        order: 2;
        padding: 20px;
        background-image: url(../images/Group\ 14.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .hero-btn {
        gap: 10px;
    }
    
    .hero-right {
        order: 1;
        justify-content: center;
        padding-top: 30px;
    }
    
    .hero-right img {
        width: 80%;
        object-fit: cover;
    }


    /* WE-ARE-GAMER RESPONSIVE */
    
    .we-are-gamer-container {
        padding: 80px 0;
    }

    .we-are-gamer {
        max-width: 100vmin;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    
    .we-gamer-left {
        width: 100vmin;
    }
    
    .we-gamer-left img {
        width: 99%;
    }
    
    .we-gamer-right {
        width: 100vmin;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    /* ONLINE GAMES RESPONSIVE */

    .online-games {
        max-width: 100vmin;
        text-align: center;
    }
    
    .game-card-container {
        flex-direction: column;
        gap: 40px;
    }
    
    .game-card {
        height: 400px;
    }
    
    /* PLAY INSTANT SECTION RESPONSIVE */

    .play-instant-container {
        max-width: 100vmin;
        align-items: center;
        padding: 0;
    }
    
    .play-instant {
        max-width: 100vmin;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .play-instant-left {
        width: 100vmin;
        text-align: center;
        padding: 0 20px;
        margin-top: 0;
    }
    
    .play-instant-right {
        width: 100vmin;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .upper-image {
        position: relative;
        left: 30px;
    }
    
    .lower-image {
        width: 42%;
        top: -150px;
        left: -110px;
    }

    /* PLAY-GAMES-ONLINE SECTION RESPONSIVE */

    .play-games-online-container {
        max-width: 100vmin;
        align-items: center;
        margin-top: -60px;
    }
    
    .play-games-online {
        max-width: 100vmin;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .play-games-online-left {
        width: 100vmin;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 2;
    }
    
    .playgames-upper-image{
        width: 75%;
        position: relative;
        left: -30px;
    }
    
    .playgames-lower-image {
        width: 42%;
        position: relative;
        top: -140px;
        right: -110px;
    }

    .play-games-online-right {
        width: 100vmin;
        height: auto;
        text-align: center;
        padding: 0 20px;
        margin-top: 0;
        order: 1;
    }


    /* GAME-TYPES SECTION RESPONSIVE */

    .game-types-container {
        max-width: 100vmin;
        margin: 0 auto;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
        padding: 100px 20px;
        margin-top: -40px;
    }
    
    .game-types {
        max-width: 100vmin;
        grid-template: auto / repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        grid-template-areas: 
        "g1 g1 g2 g2"
        "g3 g3 g4 g4"
        "g5 g5 g6 g6"
        "g7 g7 g8 g8"
        ". g9 g9 .";
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }

    .single-game {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 5px;
        border: 1px solid rgba(0, 128, 0, 0);
    }

    /* FOOTER RESPONSIVE */
    
    .footer-container {
        max-width: 100vmin;
        margin: 0 auto;
    }
    
    .footer-nav-menu {
        margin: 0 auto;
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-template-areas: 
        "fn1 fn2 fn3"
        "fn4 fn5 fn6";
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    #fnav1 {
        grid-area: fn1;
    }
    #fnav2 {
        grid-area: fn2;
    }
    #fnav3 {
        grid-area: fn3;
    }
    #fnav4 {
        grid-area: fn4;
    }
    #fnav5 {
        grid-area: fn5;
    }
    #fnav6 {
        grid-area: fn6;
    }
    
    .social-icons-container {
        margin: 0 auto;
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-template-areas: 
        "si1 si2 si3"
        "si4 si5 si6";
        grid-column-gap: 60px;
        grid-row-gap: 40px;
        justify-items: center;
        align-items: center;
    }

    #sicon1 {
        grid-area: si1;
    }
    #sicon2 {
        grid-area: si2;
    }
    #sicon3 {
        grid-area: si3;
    }
    #sicon4 {
        grid-area: si4;
    }
    #sicon5 {
        grid-area: si5;
    }
    #sicon6 {
        grid-area: si6;
    }

    
    .footer-rules-menu {
        margin: 0 auto;
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        grid-template-areas: 
        "fr1 fr2"
        "fr3 fr4";
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
    }

    #frules1 {
        grid-area: fr1;
    }
    #frules2 {
        grid-area: fr2;
    }
    #frules3 {
        grid-area: fr3;
    }
    #frules4 {
        grid-area: fr4;
    }

    .footer-copyright *{
        text-align: center;
        display: block;
    }
}


/* ========= RESPONSIVE FOR TABLET DEVICES ========== */


@media screen and (min-width: 576px) and (max-width: 992px) {
    :root {
        --maintitle: 5rem;
        --secondtitle: 2.1rem;
        --thirdtitle: 2rem;
        --fourthtitle: 1rem;
        --bodytext: 1rem;
        --margintop: 70px;
    }


    /* NAV BAR RESPONSIVE */

    .nav-container {
        max-width: 100vmin;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 30px 20PX;
        box-shadow: none;
    }
    
    .menu-area {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    
    .nav-menu {
        flex-direction: column;
        gap: 20px;
    }

    /* HERO SECTION RESPONSIVE */
    
    .hero-section-container {
        background-image: none;
    }

    .hero-section {
        max-width: 100vmin;
        flex-direction: column;
        justify-content: center;
        gap: 70px;
        padding: 0;
    }
    
    .hero-left {
        gap: 10px;
        order: 2;
        padding: 20px;
        background-image: url(../images/Group\ 14.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .hero-btn {
        gap: 10px;
    }
    
    .hero-right {
        order: 1;
        justify-content: center;
        padding-top: 30px;
    }
    
    .hero-right img {
        width: 80%;
        object-fit: cover;
    }


    /* WE-ARE-GAMER RESPONSIVE */

    .we-are-gamer-container {
        padding: 90px 0;
    }
    
    .we-are-gamer {
        max-width: 100vmin;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    
    .we-gamer-left {
        width: 100vmin;
    }
    
    .we-gamer-left img {
        width: 99%;
    }
    
    .we-gamer-right {
        width: 100vmin;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    /* ONLINE GAMES RESPONSIVE */

    .online-games {
        max-width: 100vmin;
        padding: 30px 20px;
        text-align: center;
    }
    
    .game-card-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .game-card {
        height: 400px;
    }
    
    /* PLAY INSTANT SECTION RESPONSIVE */

    .play-instant-container {
        padding: 0 0;
        max-width: 100vmin;
        align-items: center;
    }
    
    .play-instant {
        max-width: 100vmin;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .play-instant-left {
        width: 100vmin;
        text-align: center;
        padding: 0 20px;
        margin-top: 0;
    }
    
    .play-instant-right {
        width: 100vmin;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .upper-image {
        position: relative;
        left: 40px;
    }
    
    .lower-image {
        width: 42%;
        top: -250px;
        left: -160px;
    }

    /* PLAY-GAMES-ONLINE SECTION RESPONSIVE */

    .play-games-online-container {
        padding: 30px 0;
        max-width: 100vmin;
        align-items: center;
        margin-top: -110px;
    }
    
    .play-games-online {
        max-width: 100vmin;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .play-games-online-left {
        width: 100vmin;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 2;
    }
    
    .playgames-upper-image{
        width: 75%;
        position: relative;
        left: -40px;
    }
    
    .playgames-lower-image {
        width: 42%;
        position: relative;
        top: -250px;
        right: -160px;
    }

    .play-games-online-right {
        width: 100vmin;
        height: auto;
        text-align: center;
        padding: 0 20px;
        margin-top: 0;
        order: 1;
    }

    /* GAME-TYPES SECTION RESPONSIVE */

    .game-types-container {
        max-width: 100vmin;
        margin: -110px auto 0 auto;
        padding: 100px 20px;
    }
    
    .game-types {
        max-width: 100vmin;
        grid-template: auto / repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        grid-template-areas: 
        "g1 g2 g3"
        "g4 g5 g6"
        "g7 g8 g9";
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }

    .single-game {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 5px;
        border: 1px solid rgba(0, 128, 0, 0);
    }

    /* FOOTER RESPONSIVE */
    
    .footer-container {
        max-width: 100vmin;
        margin: 0 auto;
    }
    
    .footer-nav-menu {
        margin: 0 auto;
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-template-areas: 
        "fn1 fn2 fn3"
        "fn4 fn5 fn6";
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    #fnav1 {
        grid-area: fn1;
    }
    #fnav2 {
        grid-area: fn2;
    }
    #fnav3 {
        grid-area: fn3;
    }
    #fnav4 {
        grid-area: fn4;
    }
    #fnav5 {
        grid-area: fn5;
    }
    #fnav6 {
        grid-area: fn6;
    }
    
    .social-icons-container {
        margin: 0 auto;
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-template-areas: 
        "si1 si2 si3"
        "si4 si5 si6";
        grid-column-gap: 60px;
        grid-row-gap: 40px;
        justify-items: center;
        align-items: center;
    }

    #sicon1 {
        grid-area: si1;
    }
    #sicon2 {
        grid-area: si2;
    }
    #sicon3 {
        grid-area: si3;
    }
    #sicon4 {
        grid-area: si4;
    }
    #sicon5 {
        grid-area: si5;
    }
    #sicon6 {
        grid-area: si6;
    }

    
    .footer-rules-menu {
        margin: 0 auto;
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        grid-template-areas: 
        "fr1 fr2"
        "fr3 fr4";
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
    }

    #frules1 {
        grid-area: fr1;
    }
    #frules2 {
        grid-area: fr2;
    }
    #frules3 {
        grid-area: fr3;
    }
    #frules4 {
        grid-area: fr4;
    }

    .footer-copyright *{
        text-align: center;
        display: block;
    }
}