@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


/* GLOBAL STYLE STARTS HERE */

:root {
    --maintitle: 5.5rem;
    --secondtitle: 2.7rem;
    --thirdtitle: 2rem;
    --fourthtitle: 1.1rem;
    --bodytext: 1rem;
    --pink: #F948B2;
    --purple: #8758F1;
    --skyblue: #4EC5F7;
    --black: #0B0223;
    --gray: #534C64;
    --white: #fff;
    --lightgray: rgba(11, 2, 35, 0.10);
    --gradient: linear-gradient(to bottom, #F948B2, #8758F1);
    --margintop: 110px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
}

.btn-pink {
    color: var(--white);
    background-color: var(--pink);
    font-size: var(--fourthtitle);
    font-weight: 600;
    padding: 12px 28px;
    border: 0;
    border-radius: 50px;
    text-transform: uppercase;
}

.btn-skyblue {
    color: var(--white);
    background-color: var(--skyblue);
    font-size: var(--fourthtitle);
    font-weight: 600;
    padding: 12px 28px;
    border: 0;
    border-radius: 50px;
    text-transform: uppercase;
}

.btn-white {
    color: var(--pink);
    background-color: var(--white);
    font-size: var(--fourthtitle);
    font-weight: 600;
    padding: 12px 28px;
    border: 0;
    border-radius: 50px;
    text-transform: uppercase;
}

.main-title {
    color: var(--pink);
    /* background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    /* background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    background-clip: text;
    color: transparent; */
    font-size: var(--maintitle);
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
}

.second-title {
    color: var(--black);
    font-size: var(--secondtitle);
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

.third-title {
    color: var(--gray);
    font-size: var(--thirdtitle);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.fourth-title {
    color: var(--gray);
    font-size: var(--fourthtitle);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.body-text {
    color: var(--gray);
    font-size: var(--bodytext);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gradient-text {
    color: var(--pink);
}

/* GLOBAL STYLE ENDS HERE */


/* NAVBAR SECTION STARTS HERE */

header {
    margin: 0 auto;
}

.nav-container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20PX;
    box-shadow: 0 5px 30px -10px var(--lightgray); /* NEED TO FIX THIS SHADOW POSITION */
}

.logo-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.logo-text {
    color: var(--black);
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pink-text {
    color: var(--pink);
}

.menu-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.nav-menu li {
    font-size: var(--bodytext);
}

.nav-menu li a {
    color: var(--black);
    text-decoration: none;
}

.btn-nav {
    color: var(--black);
    background-color: var(--lightgray);
    font-size: var(--bodytext);
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    padding: 15px 25px;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

.btn-nav i {
    margin-left: 10px;
}

/* NAVBAR SECTION ENDS HERE */



/* HERO SECTION STARTS HERE */

.hero-section-container {
    background-image: url(../images/Group\ 14.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain; /* NEED TO FIX THE BACKGROUND IMAGE */
}

.hero-section {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.hero-list-items {
    list-style: none;
}

.hero-list-items li {
    margin-bottom: 15px;
}

.hero-list-items li i {
    margin-right: 20px;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.hero-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-right img {
    width: 70%;
    object-fit: cover;
}

/* HERO SECTION ENDS HERE */



/* ONLINE GAMES SECTION STARTS HERE */

.online-games {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    margin-top: var(--margintop);
}

.game-card-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.game-card {
    width: 290px;
    height: 380px;
}

.game-card img {
    width: 99%;
    height: auto;
    object-fit: cover;
}

/* ONLINE GAMES SECTION ENDS HERE */



/* PLAY-INSTANT SECTION STARTS HERE */

.play-instant-container {
    margin: 0 auto;
    padding: 30px 0;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: var(--margintop);
}

.play-instant {
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10%;
}

.play-instant-left {
    width: 40%;
    height: auto;
    text-align: right;
    padding-right: 10px;
    margin-top: 110px;
}

.play-instant-left * {
    margin-bottom: 20px;
}

.play-instant-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
}

.upper-image {
    width: 80%;
}

.lower-image {
    width: 49%;
    position: relative;
    top: -230px;
    left: -300px;
}

/* PLAY-INSTANT SECTION ENDS HERE */



/* PLAY-GAMES-ONLINE SECTION STARTS HERE */

.play-games-online-container {
    margin: 0 auto;
    padding: 30px 0;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -160px;
}

.play-games-online {
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
}

.play-games-online-left {
    width: 50%;
    padding-left: 20px;
}

.playgames-upper-image{
    width: 80%;
}

.playgames-lower-image {
    width: 49%;
    position: relative;
    top: -230px;
    right: -310px;
}

.play-games-online-right {
    width: 42%;
    height: auto;
    text-align: left;
    padding-left: 50px;
    margin-top: 110px;
}

.play-games-online-right * {
    margin-bottom: 20px;
}

/* PLAY-GAMES-ONLINE SECTION ENDS HERE */



/* GAME-TYPES SECTIONS STARTS HERE */

.game-types {
    max-width: 1240px;
    margin: -160px auto 0 auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 120px 20px;
}

.game-types-upper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
}

.game-types-lower {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
}

.single-game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* GAME-TYPES SECTIONS ENDS HERE */